* {
  box-sizing: border-box;
  text-align: center;
}

body {
	background-color: grey;
}

.container {
  max-width: 960px;
	background-color: lightblue;
	border: solid black 2px;
	margin-top: 20px;
	margin: 0 auto;

}

header {

  position: relative;
	background-color: green;
	border: 2px solid black;
  color: #333;
  width: 100%;
	overflow: hidden;
	height: .2;
	margin-bottom: 35px;
}

.mainLogo {
		position: relative;
		float: left;
    margin: 10px 15px 30px 10px;
    background-color: lightblue;
    color: white;
    width: 30%;
}

nav {
    background-color: lightblue;
    margin-top: 30px;
		width: 35%;
    overflow:hidden;
    text-align: right;
		float: right;
}

nav ul {
		margin: 0;
    padding: 0;
}

nav ul li {
		display: inline-block;
    list-style-type: none;
}

nav ul li a {
		color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
}

.mainContent {
	width: 650px;
	border: 3px solid green;
	float: left;

}

.sideBar {
	width: 270px;
	border: 3px solid blue;
	float: right;

}
