* {
  box-sizing: border-box;
  text-align: center;
}

body {

	background-image: url("assets/images/doodles.png");
	background: cover;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
  max-width: 960px;
	/*background-color: lightblue;*/
	border: solid black 2px;
	margin-top: 20px;
	margin: 0 auto;

}

header {

  position: relative;
	background-color: green;
	border-bottom: 2px solid black;
  color: #333;
  width: 100%;
	overflow: hidden;
	height: .2;
	margin-bottom: 35px;
}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.contentStructure {
	max-width: 960px;
	margin: 0 auto;
}

.mainLogo {
		position: relative;
		float: left;
    /*margin: 10px 15px 30px 10px;*/
    background-color: lightgreen;
    color: white;
    width: 30%;
		text-align: left;
}

nav {
    background-color: lightblue;
    margin-top: 15px;
		width: 35%;
    overflow:hidden;
    text-align: right;
		float: right;
    height: 100%;
}

nav ul {
		margin: 0;
    padding: 0;
}

nav ul li {
		display: inline-block;
    list-style-type: none;
}

nav ul li a {
		color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
}

.mainContent {
	width: 650px;
	border: 3px solid green;
	float: left;

}

.mainContent article {
  float: left;
  height: 300px;
  width: 85%;
  height: auto;
  margin-left: 40px;
  position: relative;
  border-top: 2px solid black;
}

.mainContent h1 {
	text-align: left;
	margin-left: 20px;
	border-bottom-color: orange;
	z-index: 4;
}

.mainContent img {
	float: left;
	/*margin-left: 20px;*/
  margin-right: 20px;
  margin-top: 25px;
}

.mainContent p {
	text-align: left;
	/*margin-left: 20px;*/
  margin-top: 25px;
}
.sideBar {
	width: 270px;
	border: 3px solid blue;
	float: right;

}

.sideBar article {
  float: right;
  height: 300px;
  width: 270px;
  border: 2px solid black;
}

footer {
	position: relative;
	background-color: turquoise;
	border: 2px solid black;
  color: #333;
  width: 100%;
	overflow: hidden;
	height: .2;
}
